/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

*, *::after, *::before{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0 ;
  background-color: #0f172a;
  color: #e5e7eb;           
}

header{
  background-color: #111827;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #e5e7eb;
  box-shadow: 10px 10px 1 white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

header>span{
  padding: 20px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

main{
  margin: 0px;
  background-color: #0f172a;
  background-color: #0F172A;
  color: #e5e7eb;
  color: black;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero-part{
  margin: 0;
  margin-bottom: 10px ;
}

.hero-part>h1, .hero-part>p{
  padding: 0 30px;
}


.navbar{
  margin: 0;
  padding: 10px 30px;
  background-color: rgb(232, 230, 230);
  background-color: #1E293B;
  border-radius: 10px;
  padding: 40px 20px;
}

button{
  color: #5270dd;
  padding: 10px 20px;
  border: 1px solid #5270dd;
  font-weight: 600;
  border-radius: 5px;
  transition: all 0.05s;
}

button:hover, .active{
  background-color: #5270dd;
  color: white;
}

button:active{
  opacity: 0.6;
}

.main-ui{
  margin: 0;
  /* padding: 10px 30px; */
  display: flex;
  flex-grow: 1;
  height: 600px;
  width: 100%;
  gap: 40px;
}

fieldset{
  border: none;
}

legend{
  float: left;
  margin: 15px 0;
}

/* input[type=number].num-input{
  width: 60px;
  padding: 6px;
  font-size: 14px;
  float: right;
} */

.control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.num-input {
  width: 80px;
}

.range-input {
  width: 100%;
}


/* .user-input-section input{
  width: 100%;
  margin: 10px 0;
} */

.user-input-section{
  background-color: rgb(232, 230, 230);
  background-color: #1E293B;
  height: 100%;
  width: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 30px;
  color: #F1F5F9;
}


.output-section{
  background-color: rgb(232, 230, 230);
  background-color: #1E293B;
  height: 100%;
  flex-grow: 1;
  border-radius: 10px;
  /* width: 60%; */
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.output-div{
  background-color: rgb(205, 204, 204);
  background-color: #334155;
  height: 250px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 8px 8px 24px -7px rgb(132, 133, 144);
}


.css-code-section{
  margin: 0 0 0 auto;
  padding: 10px 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  color: white;
  background-color: #1E293B;
  border-radius: 10px;
  
}

.copy-btn-div{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.copy-btn-div>p{
  margin-left: 30px;
  font-size: 1.2rem;
}


.css-code{
  margin: 10px;
  background-color: rgb(232, 230, 230);
  width: 1000px;
  height: 150px;
  padding: 30px 10px;
  color: #e5e7eb;
  background-color: #334155;
  border-radius: 10px;
}

.css-code>p{
  margin: 5px;
}



footer{
  display: flex;
  /* align-items: center; */
  margin: 0px;
  padding: 10px 30px;
  background-color: #172554;
  background-color: #1e293b;
  background-color: #020617;
  background-color: #1f2937;
  height: 100px;

}
