*, *::after, *::before{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0 ;
  background-color: #0f172a;
  color: #e5e7eb;           
}

header{
  background-color: #111827;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #e5e7eb;
  box-shadow: 10px 10px 1 white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

header>span{
  padding: 20px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

main{
  margin: 0px;
  background-color: #0f172a;
  background-color: #0F172A;
  color: #e5e7eb;
  color: black;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero-part{
  margin: 0;
  margin-bottom: 10px ;
}

.hero-part>h1, .hero-part>p{
  padding: 0 30px;
}


.navbar{
  margin: 0;
  padding: 10px 30px;
  background-color: rgb(232, 230, 230);
  background-color: #1E293B;
  border-radius: 10px;
  padding: 40px 20px;
}

.nav-btn{
  margin: 10px;
}

button{
  color: #5270dd;
  padding: 10px 20px;
  border: 1px solid #5270dd;
  font-weight: 600;
  border-radius: 5px;
  transition: all 0.05s;
  user-select: none;
}
button:disabled{
  pointer-events: none;
  background-color: #e5e7eb;
  opacity: 0.6;
  user-select: none;
}

button:hover, .active{
  background-color: #5270dd;
  color: white;
}

button:active{
  opacity: 0.6;
}

.main-ui{
  margin: 0;
  display: flex;
  flex-grow: 1;
  height: 750px;
  width: 100%;
  gap: 40px;
}

fieldset{
  border: none;
}

legend{
  float: left;
  margin: 15px 0;
}

.control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0;
}

.top-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.num-input {
  width: 80px;
}

.range-input {
  width: 100%;
}

.user-input-section{
  background-color: rgb(232, 230, 230);
  background-color: #1E293B;
  height: 100%;
  width: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  color: #F1F5F9;
  min-width: 30%;
}

.toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 12px;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

}

.switch-ui {
  position: relative;
  width: 50px;
  height: 28px;
  flex-shrink: 0;
}

.switch-ui input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  inset: 0;
  background: #ccc;
  border-radius: 34px;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 3px;
  top: 3px;
  background: white;
  border-radius: 50%;
  transition: 0.3s;
}

.switch-ui input:checked + .slider {
  background: rgb(2,117,255);
}

.switch-ui input:checked + .slider::before {
  transform: translateX(22px);
}

input[type="color"]{
  border: none;
}

.flexbox-containers{
  display: flex;
  justify-content: space-between;
}

.flexbox-containers select{
  width: 150px;
  padding: 5px;
  background-color: #334155;
  border: none;
  color: #e5e7eb;

}
.flexbox-btn-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.output-section{
  background-color: rgb(232, 230, 230);
  background-color: #1E293B;
  height: 100%;
  flex-grow: 1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.flex-output-section{
  background-color: rgb(232, 230, 230);
  background-color: #1E293B;
  height: 100%;
  flex-grow: 1;
  padding: 50px;
  border-radius: 10px;

}
.output-div{
  background-color: rgb(205, 204, 204);
  background-color: #334155;
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.text-shadow-output{
  color: #e5e7eb;
  font-size: 3rem;
}

/* For Flex Component only */
.output-flexbox{
  border: 1px dashed #5270dd;
  height: 90%;
  padding: 50px;
  gap: 10px;
}

.short-flex-elem, .long-flex-elem{
  background-color: #e5e7eb;
  width: 100px;
  border-radius: 10px;
  padding: 10px;
}

.short-flex-elem{
  height: 100px;
}

.long-flex-elem{
    height: 150px;
}

.css-code-section{
  margin: 0 0 0 auto;
  padding: 10px 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  color: white;
  background-color: #1E293B;
  border-radius: 10px;
  
}

.copy-btn-div{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.copy-btn-div>p{
  margin-left: 30px;
  font-size: 1.2rem;
}


.css-code{
  margin: 10px;
  background-color: rgb(232, 230, 230);
  width: 1000px;
  height: 150px;
  padding: 30px 10px;
  color: #e5e7eb;
  background-color: #334155;
  border-radius: 10px;
}

.css-code>p{
  margin: 5px;
}



footer{
  display: flex;
  margin: 0px;
  padding: 10px 30px;
  background-color: #172554;
  background-color: #1e293b;
  background-color: #020617;
  background-color: #1f2937;
  height: 100px;
  flex-direction: column;
  color: #e5e7eb;
}

a{
  color: #5270dd;
  margin-left: 4px;
}

